@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    font-size: 20px;
    font-weight: bold;
}
h1{
    color: #1C64F2;
    font-size: 35px;
}
h2{
    color: #0E9F6E;
    font-size: 30px;
} */
a{
    color: #1C64F2;
    text-decoration: underline;
}
/* span{
    color: #1C64F2;
    
} */